[tool.ruff]
line-length = 120
target-version = "py311"

[tool.ruff.lint]
select = ["E", "W", "F", "I", "N", "D"] # Error, Warning, Flake8, Isort, Naming, Docstrings
ignore = ["D100", "D104"] # Ignore missing docstrings for modules and packages

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
docstring-code-format = true
line-ending = "lf"
